<h2>Update</h2>

<div class="row">
  <div class="col-md-4">
    <form #updateForm="ngForm">
      <div class="form-group">
        <label for="id" class="control-label">Id</label>
        <input readonly type="number" class="form-control margin-bottom" id="id" name="id" [ngModel]="demo && demo.id" (ngModelChange)="demo && (demo.id = $event)" />
      </div>
      <div class="form-group">
        <label for="name" class="control-label">Name</label>
        <input #name="ngModel" required type="text" class="form-control margin-bottom" id="name" name="name" maxlength="50" [ngModel]="demo && demo.name" (ngModelChange)="demo.name=$event" />
        @if (name.errors && (name.dirty || name.touched)) {
          <div class="alert alert-danger">
            @if (name.errors?.['required']) {
              <div>Please fill out this field.</div>
            }
          </div>
        }
      </div>
      <div class="form-group">
        <input [disabled]="!updateForm.valid" type="button" value="Update" class="btn btn-primary margin-bottom" (click)="updateDemo()" />
      </div>
    </form>
  </div>
</div>

<div>
  <a [routerLink]="['/demo/list']">Back to List</a>
</div>
